<form [formGroup]="appForm">
  <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutgap="10px">
    <div fxFlex="25" fxFlex.sm="33" fxFlex.xs="80" class="pl-25 pr-25">
      <mat-form-field appearance="standard" style="width: 100% !important;">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
    </div>

    <div fxFlex="25" fxFlex.sm="33" fxFlex.xs="80" class="pl-25 pr-25">
      <mat-form-field appearance="standard" style="width: 100% !important;">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName">
      </mat-form-field>
    </div>

    <div fxFlex="25" fxFlex.sm="33" fxFlex.xs="80" class="pl-25 pr-25">
      <mat-form-field appearance="standard" style="width: 100% !important;">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
  </div>

  <button mat-button matStepperNext>Next</button>
</form>
