<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div *ngIf="!isLoading" class="mat-display-1 p-50" align="center" style="border-bottom: 1px solid #bfbfbf">
  Application Form
</div>

<div *ngIf="!isLoading" class="pb-100 container" style="border-radius: 6px;">
  <mat-vertical-stepper [@.disabled]="true" selectedIndex="0" [linear]="false" #stepper>

    <mat-step completed="false" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Basic</ng-template>
      <app-basic-details [formGroup]="formArray?.get([0])"></app-basic-details>
    </mat-step>

    <mat-step completed="false" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>Contact</ng-template>
      <app-contact-details [formGroup]="formArray?.get([1])"></app-contact-details>
    </mat-step>

    <mat-step completed="false" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>Course</ng-template>
      <app-course-details [formGroup]="formArray?.get([2])"></app-course-details>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <app-review-details [formGroup]="appForm" #formDirective="ngForm"></app-review-details>
      <button mat-raised-button *ngIf="!submitButton" (click)="openDialog()" color="primary">Verify</button>
      <button type="submit" mat-raised-button *ngIf="submitButton" (click)="submitForm()" color="primary">Submit Button</button>
    </mat-step>
  </mat-vertical-stepper>
</div>
