.file-input-hide {
  position: relative;
  left: -6em;
  background-color: inherit;
  border: none;
}

.bring-forward {
  z-index: 10;
}

::ng-deep   .mat-step-icon {
  color: #fff !important;
}

button{
    color: #fff;
    display:block;
    margin: 0 auto;
}
