<div class=" ml-10 mr-10">
  <div class="mat-display-1 p-20" align="center"
       style="border-bottom: 1px solid #bfbfbf">
    <i class="fab fa-wpforms fa-sm"></i>
    Application Form
  </div>

  <div class="pb-50">
    <span class="mat-headline pl-35">Instruction</span>
    <ul class="mat-subheading-1 mt-10">
      <li>Fill up the admission form duly</li>
      <li>You will be send an image of your fee reciept on whatsapp number.</li>
      <li>Contact on  7021186955 or 9167945708  for any query.</li>
      <li>Some more instruction.</li>
    </ul>
  </div>

  <div class="pb-50">
    <span class="mat-headline pl-35">Form</span>

    <div fxLayout="row" fxLayoutgap="10px">
      <form fxFlex="20" class="p-35">
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
      </form>

      <form fxFlex="20" class="p-35">
        <mat-form-field appearance="standard">
          <mat-label>Middle Name</mat-label>
          <input matInput>
        </mat-form-field>
      </form>

      <form fxFlex="20" class="p-35">
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
      </form>
    </div>
  </div>

</div>

