.result-container {
  max-width: 650px;
  margin: 0 auto;
}

.title-div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  max-width: 100% !important;
  p {
    margin: 0;
    padding: 75px;
  }
}

.form-div {
  color: #fff;
  border-radius: 6px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../assets/svg/stacked-steps-haikei.svg");
  padding: 50px;
  margin: 50px auto;
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline,
    .mat-select-value-text {
      color: #fff !important;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: #fff !important;
    }

    .mat-form-field-underline {
      background-color: #fff !important;
    }

    mat-form-field {
      .mat-hint,
      input,
      ::placeholder,
      .mat-form-field-label {
        color: #fff;
      }
    }

    .mat-input-element {
      color: #fff;
    }
  }
  button {
    display: block;
    margin: 0 auto;
    color: #fff;
  }
}

.table-div {
  max-width: 650px;
  border-radius: 6px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  padding: 20px;

  img {
    border-radius: 6px;
  }

  table {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    width: 100%;
    .mat-footer-cell {
      font-weight: 600;
    }
    .mat-header-cell {
      text-align: center;
      font-size: 15px;
    }
  }
}

.passed {
  background-image: url("../../assets/svg/passed.svg");
}
.failed {
  background-image: url("../../assets/svg/failed.svg");
}

.parallex {
  padding: 0px 8px 25px 8px;
//   // background-image: url('../../../assets/svg/low-poly-grid-haikei.svg');
  // background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15)), url('../../assets/svg/result-bg.svg');
  background: linear-gradient(
      rgba(255, 255, 255, 01),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../assets/svg/result-bg.svg");
  //background-attachment: fixed;
  // background-position: center;
//   background-repeat: no-repeat;
  //background-size: cover;
}

@media only screen and (max-width: 600px) {
  .form-div {
    padding: 20px;
  }
}
