<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div *ngIf="standard.length === 0 && !isLoading">
  <p class="mat-subheading-2" align="center">No courses found :(</p>
</div>

<!--<div class="content p-15 mb-75 pb-20"  fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" align="center">-->
<!--<div *ngIf="course.length !== 0" fxFlex="60" fxFlex.sm="80" fxFlex.xs="90">
    <img class="img-course" src="./assets/{{imageUrl}}.png" />
</div>-->
<!--<mat-card>
  <mat-card-header>
    <mat-card-title [innerHtml]="s.name"></mat-card-title>
  </mat-card-header>
  <mat-card-content class="pt-25" style="border-top: 1px solid #5c5c5c;">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
    <p class="mat-subheading-1" [innerHtml]="s.description"></p>
    <p class="ml-35 mat-h3" align="left">Subjects</p>
    <div *ngFor="let sb of subject">
      <ul align="left" *ngIf="sb.standardId == s.id">
        <li class="list-item" role="listitem" [innerHtml]="sb.name"></li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="background-color:#f2eee6" [routerLink]="['./../enroll']">APPLY NOW</button>
  </mat-card-actions>
</mat-card>-->
<div class="mt-50" fxLayout="row warp" fxLayoutAlign="space-evenly center">
  <div class="standard-container" fxFlex="60" fxFlex.xs="95" *ngFor="let s of standard" align="center">
    <div class="img-div">
      <img class="standard-image" src="{{apiEndpoint + s.image}}" />
      <p class="standard-rate bgcolor-blue mat-title">₹ {{s.rate}}</p>
    </div>
    <p class="mat-display-2 m-20">{{s.name}}</p>
    <div class="row mb-10" fxLayoutAlign="center center">
      <div class="p-10">
        <span *ngFor="let sc of subjectCount">
          <p class="mat-subheading-2 pl-5 m-0" *ngIf="sc.standardId == s.id">
            <i class="fas fa-file mr-5"></i>
            {{sc.count}} subjects
          </p>
        </span>
      </div>
      <div>
        <i class="fas fa-circle" style="transform: scale(0.4)"></i>
      </div>
      <div class="p-10">
        <i class="fas fa-users mr-5"></i> {{s.activeStudents}} students
      </div>
      <div>
        <i class="fas fa-circle" style="transform: scale(0.4)"></i>
      </div>
      <div class="p-10">
        <i class="fas fa-layer-group mr-5"></i> {{s.batches.length}} batches
      </div>
    </div>
    <!--<div class="row" fxLayoutAlign="center center">
      <div class="p-10 mat-subheading-2 m-0">
        Batches :
      </div>
      <div class="p-10" *ngFor="let b of s.batches">
        {{b.batchName}}
      </div>
    </div>-->
    <mat-divider></mat-divider>
    <mat-tab-group class="mat-subheading-2" mat-align-tabs="center">
      <mat-tab label="Overview">
        <div class="mb-50" [innerHtml]="s.description">
        </div>
        Available batches :
        <ul>
          <span *ngFor="let b of s.batches">
            <li>{{b.batchName}}</li>
          </span>
        </ul>
      </mat-tab>
      <mat-tab label="Subjects">
        <div *ngIf="s.allowSubjectSelection">
            <p class="mat-subheading-1">You can select subjects of your choice, check pricing tab for more detail.</p>
        </div>
        Available subjects :
          <ol class="m-0">
            <span  *ngFor="let sb of subject">
              <li *ngIf="sb.standardId == s.id" [innerHtml]="sb.name"></li>
            </span>
          </ol>
      </mat-tab>
      <mat-tab label="Pricing" *ngIf="s.allowSubjectSelection">
        <div class="pricing" fxLayout="row warp" fxLayoutAlign="space-evenly stretch">
            <div fxFlex="45" fxFlex.xs="90" fxFlex.sm="50"  *ngFor="let sr of getRateByStandardId(s.id)">
              <div class="pricing-div" *ngIf="s.id === sr.standardId">
                <ul *ngFor="let s of sr.subjects">
                  <li>{{s.subjectName}}</li>
                </ul>
                <span class="pricing-rate">
                  ₹ {{sr.rate}}
                </span>
              </div>
            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button color="primary" [routerLink]="['./../enroll']">Apply</button>
  </div>
</div>