@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.mat-toolbar {
  padding: 0;
}

.title {
  font-size: 32px;
  font-family: 'Abril Fatface', cursive;
  line-height: 64px;
  vertical-align: middle;
  padding-left: 7px;
}

.logo-img {
  display: inline-block;
  height: 40px;
  padding-bottom: 8px;
}

.social-icon {
  position: absolute;
  right: 16px;

  a {
    vertical-align: middle;
    text-decoration: none;
    color: black;
  }
}

.bottom-shadow {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #d5d7d9;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

@media only screen and (max-width: 600px) {
  .social-icon {
    display: none;
  }
  .title {
    padding-left: 0px;
  }
}
