<mat-toolbar class="bgcolor-yellow-light bottom-shadow">
  <img class="logo-img m-10"  src="./assets/logo_notext.jpg" />
  <span class="title">Sharp Tutorials</span>
  <div class="social-icon">
    <a href="https://www.instagram.com/sharptutorials_/">
      <i class="fab fa-instagram fa-lg mr-10"></i>
    </a>
    <a href="https://www.facebook.com/632508334061501/posts/632574827388185/">
      <i class="fab fa-facebook fa-lg mr-10"></i>
    </a>
    <a href="https://www.linkedin.com/company/sharp-tutorials/">
      <i class="fab fa-linkedin fa-lg mr-10"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCid9_yoxEfu02gtVXItEiYQ?app=desktop">
      <i class="fab fa-youtube fa-lg mr-10"></i>
    </a>
    <a href="https://wa.me/917021186955?text=I%27m%20Interested%20with%20Sharp%20Tutorials">
      <i class="fab fa-whatsapp fa-lg"></i>
    </a>
  </div>
</mat-toolbar>
