<div class="aboutus-bg m-5 " align="center"> </div>

<div class="m-20 pt-50 content clearfix">
  <p class="header-title pt-20 pb-25"
     style="text-align: center; border-bottom: 1px solid #fca311">
  About our Institution</p>
  <div class="left-content" align="center">
    <p class="header-subtitle p-20">
      The Mission of the <strong class="color-yellow">Sharp Tutorial</strong>
      is to partner with parentsto inspire each student to think critically,
      communicate effectively, and achieve excellence by providing academic choice.
      Concept-based learning techniques along with experienced
      teachers help students to achieve a successful career.</p>

    <div class="m-5 pl-35 pt-20" style="text-align: justify">
      <p class="header-content">
        <i class="far fa-check-square m-5 color-yellow"></i>
        Timely Completion Of syllabus
      </p>
      <p class="header-content">
        <i class="far fa-check-square m-5 color-yellow"></i>
        Teaching Methodology
      </p>
      <p class="header-content">
        <i class="far fa-check-square m-5 color-yellow"></i>
        Test Preparation
      </p>
      <p class="header-content">
        <i class="far fa-check-square m-5 color-yellow"></i>
        Qualified Teachers
      </p>
    </div>
  </div>
  <div class="">
    <img class="right-content" src="./assets/smart-classroom.png" />
  </div>
</div>

<div class="pt-50 p-25 bgcolor-yellow-light">
  <div align="center">
    <p class="header-title pb-25"
       style="border-bottom: 1px solid #fca311">
    Why choose us?</p>
    <p class="header-subtitle p-20">
      <strong class="color-yellow">
      Sharp Tutorials</strong> Has limited Students In Per
      Batch Which Help Teacher to get personal
      attention in each and every students.</p>
  </div>

  <div class="container-flex m-20" align="center">
    <div class="circle-img-div flex-child" align="center">
      <img class="circle-img p-20" src="./assets/phone.jpg" />
      <p class="p-10 circle-img-text">Mobile Application for Recorded Lectures</p>
    </div>

    <div class="circle-img-div flex-child" align="center">
      <img class="circle-img p-20" src="./assets/test.jpg" />
      <p class="p-10 circle-img-text">Every Week Test Will Be Conducted</p>
    </div>

    <div class="circle-img-div flex-child" align="center">
      <img class="circle-img p-20" src="./assets/student.png" />
      <p class="p-10 circle-img-text">Limited Students Per Batch</p>
    </div>

    <div class="circle-img-div flex-child" align="center">
      <img class="circle-img p-20" src="./assets/material.jpg" />
      <p class="p-10 circle-img-text">Well Prepared Study Material</p>
    </div>

    <div class="circle-img-div flex-child" align="center">
      <img class="circle-img p-20" src="./assets/phone.jpg" />
      <p class="p-10 circle-img-text">Regular Performace Updates to Parents</p>
    </div>
  </div>
</div>

<div class="section-dark">
  <div class="container-flex">
    <div class="flex-child"  align="center">
      <p class="header-title">5+</p>
      <p class="header-subtitle">YEARS OF EXPERIENCE</p>
    </div>
    <div class="flex-child" align="center">
      <p class="header-title">100%</p>
      <p class="header-subtitle">PASSED</p>
    </div>
    <div class="flex-child" align="center">
      <p class="header-title">300+</p>
      <p class="header-subtitle">TRAINED STUDENTS</p>
    </div>
  </div>
</div>



