<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div *ngIf="!isLoading">

  <!--ABOUT OUT INSTITUTE-->
  <div class="m-20 pt-10">
    <p class="mat-headline header-title">
      About our Institution
    </p>
    <div fxLayout="row warp" fxLayoutAlign="space-around center" fxLayoutGap="20px grid">
      <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" align="center">
        <p class="mat-subheading-2">
          The Mission of the <span class="color-yellow">Sharp Tutorial</span> is to partner with parentsto inspire each student to think critically, communicate effectively, and achieve excellence by providing academic choice. Concept-based
          learning techniques along with experienced teachers help students to achieve a successful career.
        </p>

        <div class="m-5 pl-35 pt-30" style="text-align: justify">
          <p class="mat-subheading-2">
            <i class="far fa-check-square ml-5 mr-5 color-yellow"></i> Timely Completion Of syllabus
          </p>
          <p class="mat-subheading-2">
            <i class="far fa-check-square ml-5 mr-5 color-yellow"></i> Teaching Methodology
          </p>
          <p class="mat-subheading-2">
            <i class="far fa-check-square ml-5 mr-5 color-yellow"></i> Test Preparation
          </p>
          <p class="mat-subheading-2">
            <i class="far fa-check-square ml-5 mr-5 color-yellow"></i> Qualified Teachers
          </p>
        </div>
      </div>
      <div fxFlex="50" fxFlex.xs="80" fxFlex.sm="60">
        <img class="right-content" src="./assets/smart-classroom.png" />
      </div>
    </div>
  </div>

  <!--Wave 1-->
  <div class="spacer layer1"></div>

  <!--WHY CHOOSE US-->
  <div class="p-25" style="background-color: #EFEFEF">
    <div align="center">
      <p class="mat-headline header-title">
        Why choose us?
      </p>
      <p class="mat-subheading-2">
        <span class="color-yellow">
          Sharp Tutorials
        </span> has limited Students In Per Batch Which Help Teacher to get personal attention in each and every students.
      </p>
    </div>
    <div fxLayout="row warp" fxLayoutGap="20px grid" align="center">
      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" class="card">
        <img class="circle-img" src="./assets/test.png" />
        <p class=" mat-subheading-1">Every Week Test Will Be Conducted</p>
      </div>
      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" class="card">
        <img class="circle-img" src="./assets/student_per_batch.png" />
        <p class="mat-subheading-1">Limited Students Per Batch</p>
      </div>
      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" class="card">
        <img class="circle-img" src="./assets/book.png" />
        <p class="mat-subheading-1">Well Prepared Study Material</p>
      </div>
      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" class="card">
        <img class="circle-img" src="./assets/parents.png" />
        <p class="mat-subheading-1">Regular Performace Updates to Parents</p>
      </div>
    </div>
  </div>

  <!--NUMBERS IN BLUE BACKGROUND-->
  <!--Wave 2-->
  <div class="spacer layer2"></div>

  <div class="bgcolor-blue" style="color:white">
      <div fxLayout="row warp" fxLayoutGap="0 grid" align="center">
        <div fxFlex="30" fxFlex.sm="50" fxFlex.xs="100" class="child-dark">
          <p class="mat-display-2 m-10">5+</p>
          <p class="mat-subheading-1">YEARS OF EXPERIENCE</p>
        </div>
        <div fxFlex="30" fxFlex.sm="50" fxFlex.xs="100" class="child-dark">
          <p class="mat-display-2 m-10">100%</p>
          <p class="mat-subheading-1">PASSED PERCENTAGE</p>
        </div>
        <div fxFlex="30" fxFlex.sm="50" fxFlex.xs="100" class="child-dark">
          <p class="mat-display-2 m-10">300+</p>
          <p class="mat-subheading-1">TRAINED STUDENTS</p>
        </div>
      </div>
    </div>

    <!--OUR EXPERT FACULTY-->
    <div class="p-25 pt-75">
      <div align="center">
        <p class="mat-headline header-title">
          Our Expert Faculty
        </p>
        <p class="mat-subheading-2 p-20">
          <span class="color-yellow">
            Sharp Tutorials
          </span> has one of the best faculty in south Mumbai when it comes to school & commerce coaching. Our faculty comprises of experienced and renowed teachers for different subjects who have a through knowledge and command of their
          subjects, and able to answer all students querries as required.
        </p>
      </div>
      <div fxLayout="row warp" class="m-20" fxLayoutGap="0 grid" align="center">
        <div fxFlex="30" fxFlex.xs="90" fxFlex.sm="45" class="card mlr-auto pb-10">
          <p class="mat-title bgcolor-yellow p-20">School</p>
          <p class="mat-subheading-1">Prof. Sufiyan Kojar</p>
          <p class="mat-subheading-1">Prof. Salman Kojar</p>
          <p class="mat-subheading-1">Prof. Sariya Kojar</p>
        </div>
        <div fxFlex="30" fxFlex.xs="90" fxFlex.sm="45" class="card mlr-auto pb-10">
          <p class="mat-title bgcolor-yellow p-20">Junior College</p>
          <p class="mat-subheading-1">Prof. Sufiyan Kojar</p>
          <p class="mat-subheading-1">Prof. Salman Kojar</p>
          <p class="mat-subheading-1">Prof. Sariya Kojar</p>
        </div>
        <div fxFlex="30" fxFlex.xs="90" fxFlex.sm="45" class="card mlr-auto pb-10">
          <p class="mat-title bgcolor-yellow p-20">Degree</p>
          <p class="mat-subheading-1">Prof. Sufiyan Kojar</p>
          <p class="mat-subheading-1">Prof. Salman Kojar</p>
          <p class="mat-subheading-1">Prof. Sariya Kojar</p>
        </div>

      </div>
    </div>

    <!--CAREER AT SHARP  TURORIALS-->
    <!--Wave 1 inverse-->
    <div class="spacer layer1"></div>

    <div class="p-25 pb-100" style="background-color: #EFEFEF">
      <div align="center">
        <p class="mat-headline header-title">
          Career At Sharp Tutotial
        </p>
        <p class="mat-subheading-2 p-20">
          <span class="color-yellow">
            Sharp Tutorials
          </span> aims to be the Best Commerce Coaching Institute in Mumbai. We Invite Dedicated, Talented and Passionate Teachers and Administrators to come and be Part of
          <span class="color-yellow">
            us
          </span>
        </p>
      </div>

      <div fxLayout="row warp" fxLayoutGap="0 grid" align="center">
        <div fxFlex="30" fxFlex.xs="75" fxFlex.sm="45" class="card mlr-auto pb-10">
          <img class="img-card" src="./assets/student-teacher_22.png"/>
          <p class="mat-subheading-1 p-10">
            Be a part of one of the and best commerce tutorials in South Mumbai
          </p>
        </div>
        <div fxFlex="30" fxFlex.xs="75" fxFlex.sm="45" class="card mlr-auto pb-10">
          <img class="img-card" src="./assets/student-teacher_11.png"/>
          <p class="mat-subheading-1 p-10">
            Champion the cause of education with training from our experienced faculty
          </p>
        </div>
        <div fxFlex="30" fxFlex.xs="75" fxFlex.sm="45" class="card mlr-auto pb-10">
          <img class="img-card" src="./assets/student-teacher_33.png"/>
          <p class="mat-subheading-1 p-10">
            One to one attention between teachers and students
          </p>
        </div>
      </div>
    </div>
  </div>
