<div class="verify-body">
  <div class="top-div">
    <h1 mat-dialog-title>Verify Email</h1>
   <mat-icon class="close-button" (click)="closeDialog()">close</mat-icon>
  </div>
  <div mat-dialog-content>
    <p *ngIf="successMessage" [innerHtml]="successMessage.message"></p>
    <form [formGroup]="verifyForm">
      <mat-form-field class="m-mq-auto" appearance="standard">
        <mat-label>Type your OTP here</mat-label>
        <input matInput type="text"
               inputmode="numeric"
               autocomplete="one-time-code"
               pattern="\d{6}"
               formControlName="otp">
      </mat-form-field>
      <button class="m-mq-auto"
              type="submit"
              mat-stroked-button
              (click)="verifyOtp()">Verify OTP</button>
    </form>
    <p *ngIf="verifyMessage" [innerHtml]="verifyMessage.message"></p>
    <span *ngIf="errorMessage" class="error-msg">Check your email and otp</span>
      <p class="resend-container">Didn't recieve? <span class="resend" (click)="generateOtp()">Resend</span></p>
  </div>
</div>

