<div style="width: 100%; text-align: center; padding-top: 20px; padding-bottom: 20px; clear: both;">
  <div class="loading-box-container">
    <div class="loading-box">
      <div style='left:18px;top:18px;animation-delay:0s'></div>
      <div style='left:40px;top:18px;animation-delay:0.08278145695364239s'></div>
      <div style='left:62px;top:18px;animation-delay:0.16556291390728478s'></div>
      <div style='left:18px;top:40px;animation-delay:0.5794701986754967s'></div>
      <div style='left:62px;top:40px;animation-delay:0.24834437086092714s'></div>
      <div style='left:18px;top:62px;animation-delay:0.4966887417218543s'></div>
      <div style='left:40px;top:62px;animation-delay:0.4139072847682119s'></div>
      <div style='left:62px;top:62px;animation-delay:0.33112582781456956s'></div>
    </div>
  </div>
  <div>
    {{ message }}
  </div>
</div>
