.main {
  width: 100%;
  height: fit-content();
  background-color: #fffdeb;
}
.img-div {
  position:fixed;
  top: 0;
  z-index: 2;
  width: 100%;

  img {
    width: 100%;
  }
}

.container {
  border-radius: 3px;
  position: relative;
  z-index: 10;
  width: 70%;
  margin: 100px auto 0 auto;
  background-color: white !important;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

  .top-div {
    padding: 10px 0px 0px 10px;
    height: 30px;

    mat-icon {
      cursor: pointer;
    }

    .icon-share {
      position: absolute;
      right: 10px;
    }
  }

  .content {
    padding: 2% 4%;
  }
}






@media only screen and (max-width: 600px) {
    .container {
        width: 92%;
        .content {
          padding: 1% 2%;
        }
    }
  .icon {
    top: calc(1% + 30px);
    right: calc(1% + 10px);
    } 
}
