<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="parallex" *ngIf="blog">
  <div class="container-blog blog-title-div">
    <p class="mat-display-1 blog-title">{{blog.title}}</p>
  </div>
  <div class="container-blog blog-content">
    <p class="mat-body-2 blog-additional-detial color-blue">
      <i class="fas fa-clock mr-5"></i>{{blog.published}}
      <i class="fas fa-user mr-5 ml-20"></i>{{blog.author}}
    </p>
    <p class="mat-subheading-2" [innerHtml]="blog.content"></p>
  </div>
</div>