<!-- <div class="main" *ngIf="!isLoading">
  <div class="img-div">
  </div>
  <div class="container" align="left" *ngIf="blog">
    <div class="top-div">
      <mat-icon routerLink=".." matTooltip="go back">arrow_back</mat-icon>
      <mat-icon class="icon-share" (click)="copyLink()" matTooltip="copy link">share</mat-icon>
    </div>
    <div class="content">
      <p class="mat-display-1 mt-10 mb-10" [innerHtml]="blog.title"></p>
      <mat-divider></mat-divider>
      <p class="mat-subheading-2 pt-25" [innerHtml]="blog.content"></p>
      <p class="mat-caption pl-10 pt-10" [innerHtml]="blog.published" align="right"></p>
      <p class="mat-title" align="right">- <span [innerHtml]="blog.author.displayName"></span></p>
    </div>

  </div>
</div> -->

<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div *ngIf="blog">
  <div class="container-blog blog-title-div">
    <p class="mat-display-1 blog-title">{{blog.title}}</p>
  </div>
  <div class="container-blog blog-content">
    <p class="mat-body-2 blog-additional-detial color-blue">
      <i class="fas fa-clock mr-5"></i>{{blog.published}}
      <i class="fas fa-user mr-5 ml-20"></i>{{blog.author}}
    </p>
    <p class="mat-subheading-2 blog-content" [innerHtml]="blog.content"></p>
  </div>
</div>