@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*TOOLBAR START*/

.mat-toolbar {
  height: 100px;
  color: #fff;
  padding: 0;
  position: relative;
}

.title-div {
  height: 100%;
  width: fit-content;
  padding: 0 20px;

  .title {
    font-family: 'Playfair Display', serif;
    line-height: 100px;
    img  {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

.menu-button {
  color: #000;
  button {
    margin: auto 5px;
  }
}

.navigation-btn{
    padding-left: 20px;
    a {
        border-radius: 0px;
        padding: 0;
        margin: 0 8px;
    }
}

.active-nav-item {
  border-bottom: 3px solid #fff;
  font-weight: 600;
}

.mat-sidenav{
  width: 20%;
  min-width: 175px;
}

@media (max-width: 960px) {
  .mat-toolbar {
    height: 64px;
    background: #fff;
  }

  .title-div {
    padding: 0 5px;
    .title {
      font-size: 24px !important;
      line-height: 64px;
      img  {
        width: 30px;
        height: 30px;
        // margin-right: 10px;
      }
    }
  }
}