/*TOOLBAR START*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.mat-toolbar {
  padding: 0;
}

.title {
  font-size: 32px;
  font-family: 'Abril Fatface', cursive;
  line-height: 64px;
  vertical-align: middle;
  padding-left: 7px;
}

.logo-img {
  display: inline-block;
  height: 40px;
  padding-bottom: 8px;
}

.social-icon {
  position: absolute;
  right: 16px;

  a {
    vertical-align: middle;
    text-decoration: none;
    color: black;
  }
}

.bottom-shadow {
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

@media only screen and (max-width: 600px) {
  .social-icon {
    display: none;
  }

  .title {
    padding-left: 0px;
  }
}

/*TOOLBAR END*/

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.active-nav-item {
  background-color: #d4e5ff;
}

.mat-expansion-panel-header {
  overflow: auto !important
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  display: none;
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transition: 1s;
  display: block;
  transform: scaleY(1);
}

.mat-button {
    width: 30px;
  .mat-icon {
    display: inline-block;
    vertical-align: middle;
    padding: 25px;
  }
}

@media only screen and (min-width: 768px) {
  #sidenav.menu-close {
    transition: 300ms ease-in;
    width: 70px !important
  }

  #sidenav.menu-open {
    width: 200px !important
  }
  .mat-button {
    width: 70px;
  }
}


.mat-toolbar {
  .mat-icon:hover {
    cursor: pointer;
  }
}
