<div style="overflow: hidden; height: 100vh;">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <div class="menu-button" fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="title-div bgcolor-blue-light color-not-so-black">
      <div class="log-img-div">
        <p class="title mat-display-1 m-0"> <img class="logo-img" src="./assets/logo_notext.png" />Sharp Tutorials</p>
      </div>
    </div>
    <div class="navigation-btn" fxShow="true" fxHide.lt-md="true">
      <a mat-button [routerLink]="['/']" [routerLinkActive]="['active-nav-item']"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-button [routerLink]="['/about']" [routerLinkActive]="['active-nav-item']"
        [routerLinkActiveOptions]="{exact: true}">About Us</a>
      <a mat-button [matMenuTriggerFor]="menu" [routerLinkActive]="['active-nav-item']">Course<i
          class="fas fa-caret-down pl-5"></i></a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let c of course" routerLink="/course/{{c.id}}" [state]="c">{{c.name}}</button>
      </mat-menu>
      <a mat-button [routerLink]="['/testimonials']" [routerLinkActive]="['active-nav-item']"
        [routerLinkActiveOptions]="{exact: true}">Testimonials</a>
      <a mat-button [routerLink]="['/results']" [routerLinkActive]="['active-nav-item']"
        [routerLinkActiveOptions]="{exact: true}">Result</a>
      <a mat-button [routerLink]="['/blog']" [routerLinkActive]="['active-nav-item']"
        [routerLinkActiveOptions]="{exact: true}">Blog</a>
      <a mat-button [routerLink]="['/contactus']" [routerLinkActive]="['active-nav-item']"
        [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/']" [routerLinkActive]="['active-nav-sm']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-home pr-5"></i>Home</mat-list-item>
        <mat-list-item [routerLink]="['/about']" [routerLinkActive]="['active-nav-sm']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-address-card pr-5"></i>About</mat-list-item>
        <mat-expansion-panel [class.mat-elevation-z0]="true" [routerLinkActive]="['active-nav-sm']" dense>
          <mat-expansion-panel-header class="pl-16">
            <span style="line-height: 48px; font-size: 16px;">
              <i class="fas fa-layer-group pr-5" ></i>Courses
            </span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item *ngFor="let c of course" routerLink="/course/{{c.id}}" [state]="c" (click)="sidenav.close()">{{c.name}}</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-list-item [routerLink]="['/testimonials']" [routerLinkActive]="['active-nav-sm']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-comments pr-5"></i>Testimonial</mat-list-item>
        <mat-list-item [routerLink]="['/results']" [routerLinkActive]="['active-nav-sm']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-poll pr-5"></i>Result</mat-list-item>
        <mat-list-item [routerLink]="['/blog']" [routerLinkActive]="['active-nav-sm']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fab fa-blogger pr-5"></i>Blog</mat-list-item>
        <mat-list-item [routerLink]="['/contactus']" [routerLinkActive]="['active-nav-sm']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-phone-square-alt pr-5"></i>Contact Us
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <button mat-stroked-button class="notice-button" (click)="toggleBoard()" color="primary">
        Notice Board
      </button>
      <app-layout-footer></app-layout-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>