<mat-toolbar class="bgcolor-yellow-light bottom-shadow">
  <span class="mat-button" *ngIf="!(isHandset$ | async)">
    <mat-icon (click)="toggleMenu()">menu</mat-icon>
  </span>
  <span *ngIf="(isHandset$ | async)">
    <button type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <img class="logo-img m-10" src="./assets/logo_notext.jpg" />
  <span class="title color-not-so-black">Sharp Tutorials</span>
  <div class="social-icon">
    <a href="https://www.instagram.com/sharptutorials_/">
      <i class="fab fa-instagram fa-lg mr-10 color-not-so-black"></i>
    </a>
    <a href="https://www.facebook.com/632508334061501/posts/632574827388185/">
      <i class="fab fa-facebook fa-lg mr-10 color-not-so-black"></i>
    </a>
    <a href="https://www.linkedin.com/company/sharp-tutorials/">
      <i class="fab fa-linkedin fa-lg mr-10 color-not-so-black"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCid9_yoxEfu02gtVXItEiYQ?app=desktop">
      <i class="fab fa-youtube fa-lg mr-10 color-not-so-black"></i>
    </a>
    <a href="https://wa.me/917021186955?text=I%27m%20Interested%20with%20Sharp%20Tutorials">
      <i class="fab fa-whatsapp fa-lg color-not-so-black"></i>
    </a>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav  bgcolor-blue-light" fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false" id="sidenav"
               [ngClass]="{'menu-open' : isMenuOpen, 'menu-close' : !isMenuOpen}">
    <!--<mat-toolbar>
      <mat-list-item *ngIf="isMenuOpen" class="ml-40">Menu</mat-list-item>
      <span *ngIf="!(isHandset$ | async)">
        <mat-icon (click)="toggleMenu()">menu</mat-icon>
      </span>
    </mat-toolbar>-->
    <mat-nav-list>
      <mat-list-item [routerLink]="['/']" [routerLinkActive]="['active-nav-item']"
                     [routerLinkActiveOptions]="{exact: true}" role="main">
        <i class="fas fa-home fa-lg m-10 color-not-so-black"></i>
        <span *ngIf="isMenuOpen">Home</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['/about']" [routerLinkActive]="['active-nav-item']"
                     [routerLinkActiveOptions]="{exact: true}" role="main">
        <i class="fas fa-address-card m-10 fa-lg color-not-so-black"></i>
        <span *ngIf="isMenuOpen">About</span>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent"
                     [routerLinkActive]="['active-nav-item']"
                     [routerLinkActiveOptions]="{exact: true}">
        <span class="full-width" *ngIf="isExpanded || isShowing">
          <i class="fas fa-book fa-lg m-10 color-not-so-black"></i>
          <span *ngIf="isMenuOpen">Course</span>
        </span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
                  *ngIf="(isExpanded || isShowing) && isMenuOpen" style="color: #b5b5b5">
          expand_more
        </mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded && isMenuOpen">
        <a mat-list-item href="..." *ngFor="let c of course" routerLink="/course/{{c.name.toLowerCase()}}">{{c.name}}</a>
      </div>
      <mat-list-item [routerLink]="['/testimonials']" [routerLinkActive]="['active-nav-item']"
                     [routerLinkActiveOptions]="{exact: true}" role="main">
        <i class="fas fa-quote-right fa-lg m-10 color-not-so-black"></i>
        <span *ngIf="isMenuOpen">Testimonials</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['/results']" [routerLinkActive]="['active-nav-item']"
                     [routerLinkActiveOptions]="{exact: true}" role="main">
        <i class="fas fa-poll fa-lg m-10 color-not-so-black"></i>
        <span *ngIf="isMenuOpen">Results</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['/blog']" [routerLinkActive]="['active-nav-item']"
                     [routerLinkActiveOptions]="{exact: true}" role="main">
        <i class="fas fa-blog fa-lg m-10 color-not-so-black"></i>
        <span *ngIf="isMenuOpen">Blog</span>
      </mat-list-item>
      <mat-list-item [routerLink]="['/contactus']" [routerLinkActive]="['active-nav-item']"
                     [routerLinkActiveOptions]="{exact: true}" role="main">
        <i class="fas fa-address-book fa-lg m-10 color-not-so-black"></i>
        <span *ngIf="isMenuOpen">Contact Us</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin, 'transition': '300ms' }">
    <!--<mat-toolbar p-0 *ngIf="(isHandset$ | async)">
      <button type="button"
              class="mr-16"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
