<mat-progress-bar color="accent" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="pt-50 pb-50 container" *ngIf="blog && !isLoading">
  <div align="center">
    <p class="mat-display-2 m-50">Blog</p>
  </div>
  <div fxLayout="row warp" fxLayoutAlign="space-around center">
    <div class="blog-div" fxFlex="45" fxFlex.sm="80" fxFlex.xs="95" *ngFor="let b of blog">
      <div class="img-div">
        <img class="blog-img" src="{{b.imageUrl[0]}}">
      </div>
      <p class="mat-body-2 blog-additional-detial color-blue">
        <i class="fas fa-clock mr-5"></i>{{b.published}}
        <i class="fas fa-user mr-5 ml-20"></i>{{b.author}}
      </p>
      <p class="mat-headline blog-title">{{b.title}}</p>
      <p class="mat-subheading-1 blog-content" [innerHtml]="b.content + ' […]'"></p>
      <button mat-stroked-button color="primary" [routerLink]="[b.id]">Continue<i class="fas fa-arrow-right ml-5"></i></button>
    </div>
  </div>
</div>  