<div >
  <div  class="reachus-header pl-25 pr-25">
    <!--<div class="reachus-header-img-div">
      <img height="200" width="200" src="./assets/reachus.jpg" />

    </div>-->
    <div  class="reachus-header-text">
      <i class="fas fa-user-friends"></i>
      REACH US
    </div>
  </div>

  <div class="pt-50" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
       fxLayoutGap="20px" >
    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100"
         fxLayoutGap="20px" class="contact-detail p-50" align="left">
      <p class="header-title m-20" align="center">Contact Detail</p>
      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-map-signs m-10"></i>Address</p>
        <p class="header-content detail-value">
          Murga Giran chsg, opposite Hotel Kalpana Palace, near Daulat
          Complex, Grant Road(East), Mumbai 400 008
        </p>
      </div>

      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-phone m-10"></i>Mobile N0.</p>
        <p class="header-content detail-value">
          +91 9167945708
        </p>
      </div>

      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-tty m-10"></i>Telephone No.</p>
        <p class="header-content detail-value">
          +91 70211 86955
        </p>
      </div>

      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-at m-10"></i>Email</p>
        <p class="header-content detail-value">
          info@sharptutorials.com
        </p>
      </div>
    </div>

    <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100"
         class="contact-detail flex-child p-50 card" align="left">
      <p class="header-title m-20" align="center">Contact Form</p>
      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-map-signs m-10"></i>Address</p>
        <p class="header-content detail-value">
          Murga Giran chsg, opposite Hotel Kalpana Palace, near Daulat
          Complex, Grant Road(East), Mumbai 400 008
        </p>
      </div>

      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-phone m-10"></i>Mobile N0.</p>
        <p class="header-content detail-value">
          +91 9167945708
        </p>
      </div>

      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-tty m-10"></i>Telephone No.</p>
        <p class="header-content detail-value">
          +91 70211 86955
        </p>
      </div>

      <div class="detail-container">
        <p class="header-subtitle detail-field"><i class="fas fa-at m-10"></i>Email</p>
        <p class="header-content detail-value">
          info@sharptutorials.com
        </p>
      </div>
    </div>

  </div>
</div>

