<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<!--<div *ngIf="!isLoading">
  <div class="reachus-header">
    <div class="mat-display-1  reachus-header-text scd-font pl-20">-->
<!-- <i class="fas fa-user-friends fa-sm"></i> -->
<!--Reach Us
    </div>
  </div>

  <div class="contact-detail" fxLayout="row warp" fxLayoutGap="0 grid">
    <div class="contact-element" fxFlex="50" fxFlex.sm="45" fxFlex.xs="100">
      <p class="mat-body-2">
        <i class="fas fa-map-signs fa-sm address"></i>
        Murga Giran chsg, opposite Hotel Kalpana Palace, near Daulat
        Complex, Grant Road(East), Mumbai 400 008
      </p>
    </div>
    <div class="contact-element" fxFlex="20" fxFlex.sm="20" fxFlex.xs="100">
      <p class="phone">
        <a class="mat-body-2"
           href="tel:+919167945708"
           matTooltip="Click on me to call!"
           matTooltipPosition="before">
          <i class="fas fa-phone fa-sm"></i>
          +91 9167945708
        </a>
      </p>
      <p class="phone">
        <a class="mat-body-2"
           href="tel:+917021186955"
           matTooltip="Click on me to call!"
           matTooltipPosition="before">
          <i class="fas fa-tty fa-sm"></i>
          +91 7021186955
        </a>
      </p>
    </div>
    <p class="contact-element" fxFlex fxFlex.xs="100">
      <a class="mat-body-2"
         href="mailto:info@sharptutorials.com"
         matTooltip="Click on me to send a mail!"
         matTooltipPosition="before">
        <i class="fas fa-at fa-envelope"></i>
        info@sharptutorials.com
      </a>
    </p>
  </div>

  <div class="pt-50 contact-div mb-100 pl-10 pr-10"
       fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
       fxLayoutGap="20px">

    <div class="map ml-10 mr-10" fxFlex="48" fxFlex.xs="100" fxFlex.sm="100">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.269539453101!2d72.81940221517473!3d18.963699960420048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce135bfaebaf%3A0x7797e4b4f588d0d3!2sMurga%20Giran%20Co.%20Op.%20Society%2C%20Bapty%20Rd%2C%20Navjeevan%20Society%2C%20Kamathipura%2C%20Mumbai%2C%20Maharashtra%20400008!5e0!3m2!1sen!2sin!4v1621401532859!5m2!1sen!2sin"
              allowfullscreen="" loading="lazy">
      </iframe>
    </div>

    <div fxFlex="48" fxFlex.xs="100" fxFlex.sm="100"
         class="contact-form flex-child pl-10 pr-10" align="center">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="mat-headline">Fill in the Form to Secure a Strong Foundation For Your Child's Career</mat-card-title>
        </mat-card-header>
        <div class="p-20">
          <form [formGroup]="contactUs" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="standard" style="width: 100% !important">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
              <mat-hint style="color: red" *ngIf="name.touched && name.hasError('required')">Required</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 100% !important">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 100% !important">
              <mat-label>Message</mat-label>
              <textarea matInput formControlName="message"></textarea>
            </mat-form-field>
            <button type="submit" [disabled]="!contactUs.valid"
                    mat-raised-button color="accent">
              Submit
            </button>
          </form>
        </div>

      </mat-card>
    </div>
  </div>
</div>-->
<div class="container" align="center">
  <p class="mat-display-1 m-50">Contact</p>
</div>

<div class="container pt-50" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFLex="40" align="left">
    <p class="m-5 mat-body-2 color-blue">CONTACT DETAILS</p>
    <p class="mat-display-1">Get in touch</p>

    <div class="contact-element-div" fxLayout="row">
      <div class="contact-element-icon" fxFlex="15" align="center">
        <i class="fas fa-map-marker-alt fa-2x"></i>
      </div>
      <div fxFlex="60">
        <p class="mat-headline m-10">
          Our Address
        </p>
        <p class="mat-subheading-2 m-10">
          Murga Giran chsg, opposite Hotel Kalpana Palace, near Daulat
          Complex, Grant Road(East), Mumbai 400 008
        </p>
      </div>
    </div>

    <div class="contact-element-div" fxLayout="row">
      <div class="contact-element-icon" fxFlex="15" align="center">
        <i class="far fa-envelope fa-2x"></i>
      </div>
      <div fxFlex="60">
        <p class="mat-headline m-10">
          Email
        </p>
        <p class="mat-subheading-2 m-10">
          Mail:
          <a class="color-blue"
             href="mailto:info@sharptutorials.com"
             matTooltip="Click on me to send a mail!"
             matTooltipPosition="after">
            info@sharptutorials.com
          </a>
        </p>
      </div>
    </div>
    <div class="contact-element-div" fxLayout="row">
      <div class="contact-element-icon" fxFlex="15" align="center">
        <i class="fas fa-address-book fa-2x"></i>
      </div>
      <div fxFlex="60">
        <p class="mat-headline m-10">
          Contact
        </p>
        <p class="mat-subheading-2 m-10">
          Mobile:
          <a class="color-blue"
             href="tel:+917021186955"
             matTooltip="Click on me to call!"
             matTooltipPosition="after">
            +91 7021186955
          </a>
          <br />
          Phone:
          <a class="color-blue"
             href="tel:+919167945708"
             matTooltip="Click on me to call!"
             matTooltipPosition="after">
            +91 9167945708
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="form-div bgcolor-blue" fxFLex="40">
    <p class="mat-display-1">Ready to Get Started?</p>
    <form [formGroup]="contactUs" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" style="width: 100% !important">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-hint style="color:salmon" *ngIf="name.touched && name.hasError('required')">Required</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100% !important">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100% !important">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">
        Submit
      </button>
    </form>
  </div>
</div>


