/*.reachus-header {
  max-width: 100%;
  height: 80px;
  border-bottom: 1px solid #fca311;

  .reachus-header-text {
    line-height: 80px;
  }
}
*/

.contact-container{
  background-image: url('../../assets/svg/blob-scatter.svg');
  background-size: cover;
}
.contact-element-div {
    height: fit-content;
    margin: 5px 0;

    .contact-element-icon {
      height: 75px;
      width: 75px;
        margin: 10px;
        border-radius: 6px;
        i {
             line-height: 75px;
        }
    }

    a {
        text-decoration: none;
    }
}

.contact-element-div:hover {
    /*transition-delay: 3s;*/
  .contact-element-icon {
    color: #fff;
    background-color: #0a4191;
  }
}

.form-div {
  padding: 50px;
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../../assets/svg/stacked-steps-haikei.svg');
  background-size: cover;
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: #fff !important;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: #fff !important;
    }

    .mat-form-field-underline {
      background-color: #fff !important;
    }

    mat-form-field {
      .mat-hint, input, ::placeholder, .mat-form-field-label {
        color: #fff;
      }
    }

    .mat-input-element {
      color: #fff;
    }
  }

  button {
    display: block;
    color: #fff;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .form-div {
    padding: 20px;
  }
}
/*
.map {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.map iframe {
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 95%;
  height: 377.38px;
  border: 0;
}

.phone {
  height: 30px;
}


@media only screen and (max-width: 600px) {
  .map-div {
    margin: 0 auto;
  }

  .contact-form {
    border-radius: 0px;
    box-shadow: none;
    margin-top: 50px;
  }

  .reachus-header-text {
    margin-left: 0px;
  }
}*/
