<!-- <h1 mat-dialog-title class="dialog-header mb-0">
  {{ pdfFileName }}
</h1>
<div style="padding-left: 0; padding-right: 0;">
  <div *ngIf="previewContentType === 'application/pdf'">
    <div style="overflow-y: auto; min-height: 0; flex: 1 1 auto;">
      <ngx-extended-pdf-viewer *ngIf="pdfSource" [src]="pdfSource" useBrowserLocale="true" delayFirstView="1250"
        [zoom]="100" [showBookmarkButton]="false" [showOpenFileButton]="false" [showSecondaryToolbarButton]="false"
        (pageRendered)="onDocLoadComplete()">
      </ngx-extended-pdf-viewer>
    </div>
  </div>
  <div *ngIf="isImage()">
    <img [src]="pdfSource" (load)="onDocLoadComplete()" class="img-fluid">
  </div>
  <div *ngIf="previewContentType !== 'application/pdf' && !isImage()">
    File not supported for preivew.
  </div>
  <div *ngIf="pdfIsLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
<mat-dialog-actions style="justify-content:space-between">
  <button mat-flat-button (click)="close()" class="p-0 m-0" color="accent">
    Cancel
  </button>
  <a mat-flat-button color="primary" href="{{pdfSource}}">
    Download
  </a>
</mat-dialog-actions> -->
 <h1 mat-dialog-title class="dialog-header mb-0">
  {{ pdfFileName }}
</h1>
<div *ngIf="previewContentType === 'application/pdf'">
  <ngx-extended-pdf-viewer *ngIf="pdfSource" [src]="pdfSource" useBrowserLocale="true" delayFirstView="1250"
    [zoom]="100" [showBookmarkButton]="false" [showOpenFileButton]="false" [showSecondaryToolbarButton]="false"
    (pageRendered)="onDocLoadComplete()">
  </ngx-extended-pdf-viewer>
</div>
<div *ngIf="isImage()">
  <img [src]="pdfSource" (load)="onDocLoadComplete()" class="img-fluid">
</div>
<div *ngIf="previewContentType !== 'application/pdf' && !isImage()">
  File not supported for preivew.
</div>
<div *ngIf="pdfIsLoading">
  <mat-spinner></mat-spinner>
</div>
  <mat-dialog-actions style="justify-content:space-between">
    <button mat-flat-button (click)="close()" class="p-0 m-0" color="accent">
      Cancel
    </button>
    <a mat-flat-button color="primary" href="{{pdfSource}}"  target="_blank">
      Download
    </a>
  </mat-dialog-actions>