<div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutFap="10px" class="pb-25">
  <div fxFlex="20" fxFlex.sm="25" fxFlex.xs="100"
       style="margin: 0 auto;">
    <img [src]="imageURL" [alt]="appForm.value.name" height="120" width="90">
  </div>
  <div fxFlex="80" fxFlex.sm="75" fxFlex.xs="100"
       class="pt-15 ml-0 mat-subheading-2" align="left">
    <dl>

      <dt class="mat-title">Basic details</dt>
      <dd>
        <p>First Name: <span [innerHtml]="getValue(0, 'firstName')"></span></p>
        <p>Middle Name: <span [innerHtml]="getValue(0, 'middleName')"></span></p>
        <p>Last Name: <span [innerHtml]="getValue(0, 'lastName')"></span></p>
      </dd>

      <dt class="mat-title">Contact detail</dt>
      <dd>
        <p>Students's phone number: <span [innerHtml]="getValue(1, 'studentPN')"></span></p>
        <p>Parent's phone number: <span [innerHtml]="getValue(1, 'parentPN')"></span></p>
        <p>Email: <span [innerHtml]="getValue(1, 'email')"></span></p>
        <p>Address:  <span [innerHtml]="getValue(1, 'address')"></span></p>
      </dd>

      <dt class="mat-title">Course detail</dt>
      <dd>
        <p>Standard: <span [innerHtml]="getValue(2, 'standard')"></span></p>
        <p>School/College:  <span [innerHtml]="getValue(2, 'school')"></span></p>
      </dd>
    </dl>
  </div>
</div>
