/*.div-one {
  position: fixed;
  top: 50%;
  margin-top: -150px;
  .img-div-one {
    max-width: 400px;
  }
}*/
.mat-card {
    max-width: 1200px;
}
.mat-card-subtitle {
  text-align: left;
}

.mat-card-content {
  p {
    text-align: left;
  }
}

.div-two {
  .header-image {
    background-image: url('../../assets/dp.jpg');
    background-size: cover;
  }
}

/*@media only screen and (max-width: 600px) {
  .div-one {
    display: none;
  }
}
*/
