<div class="container">
  <div class="title-div" align="center">
    <p class="mat-display-2">Testimonial</p>
  </div>
  <div class="form-div">
    <p class="mat-headline mb-50">Add Your Review ...</p>
    <form [formGroup]="testimonialForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" style="width: 100% !important">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100% !important">
        <mat-label>Review</mat-label>
        <textarea matInput formControlName="review"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>
  <div class="mt-50 mb-50" fxLayout="row warp" fxLayoutAlign="space-evenly center">
    <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="95" *ngFor="let t of testimonial">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image" src="{{apiEndpoint + t.imageUrl}}">
      <p class="name mat-subheading-1">{{t.firstName + ' ' + t.lastName}}</p>
      <p class="content mat-body-1">
        <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum odit labore, dignissimos excepturi deleniti molestiae incidunt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem. -->
        {{t.review}}
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">{{t.school}}</p>
      <p class="date mat-caption">{{t.createdAt}}</p>
    </div>
    
    <!-- <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image">
      <p class="name mat-subheading-1">Isa Rizwan</p>
      <p class="content mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum odit labore, dignissimos excepturi deleniti molestiae incidunt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">St Sebastian Gone High School</p>
      <p class="date mat-caption">10th Jan 2022</p>
    </div>
    <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image">
      <p class="content mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum odit labore, dignissimos excepturi deleniti molestiae incidunt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem.
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">Isa Rizwan</p>
      <p class="date mat-caption">10th Jan 2022</p>
    </div>

    <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image">
      <p class="content mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum odit labore, dignissimos excepturi deleniti molestiae incidunt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem.
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">Isa Rizwan</p>
      <p class="date mat-caption">10th Jan 2022</p>
    </div>

    <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image">
      <p class="content mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit., consectetur adipisicing elit. Consectetur illum odit labore, dignissimos excepturi deleniti molestiae incidunt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">Isa Rizwan</p>
      <p class="date mat-caption">10th Jan 2022</p>
    </div>

    <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image">
      <p class="content mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.nt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">Isa Rizwan</p>
      <p class="date mat-caption">10th Jan 2022</p>
    </div>

    <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image">
      <p class="content mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum odit labore, dignissimos excepturi deleniti molestiae incidunt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem.
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">Isa Rizwan</p>
      <p class="date mat-caption">10th Jan 2022</p>
    </div>

    <div class="testimonial-div" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
      <i class="fas fa-quote-left color-blue"></i>
      <img class="image">
      <p class="content mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum odit labore, dignissimos excepturi deleniti molestiae incidunt magni veritatis pariatur. Cumque, id nesciunt! Maiores illo minus blanditiis minima laborum voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <mat-divider></mat-divider>
      <p class="name mat-subheading-1">Isa Rizwan</p>
      <p class="date mat-caption">10th Jan 2022</p>
    </div> -->
  </div>
</div>
