<div  fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="45" fxFlex.sm="100" fxFlex.xs="100" class="div-one" align="center">
    <img class="img-div-one" src="./assets/students.png" />
    <p class="div-one-text">
      OUR HAPPY <br /> STUDENTS
    </p>
  </div>

  <div fxFlex="55" fxFlex.sm="100" fxFlex.xs="100" class="div-two" align="center">
    <p class="header-title div-two-text" align="center"> REVIEWS</p>

    <div class="review-div mt-30 mb-30 card">
      <div class="user-review ml-50" align="left">
        <img class="user-review-img" src="./assets/dp.jpg" />
        <p class="header-subtitle user-review-name ">NAME 1</p>
      </div>

      <div class="header-content user-review-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in scelerisque tortor. Nunc dictum nulla sit amet cursus molestie. Donec lacinia vehicula nunc eu tincidunt. Pellentesque scelerisque augue nec magna laoreet molestie. Cras eu risus hendrerit, semper eros non, hendrerit magna. Proin consequat, dui quis consectetur sollicitudin, erat sem molestie dolor, posuere aliquet metus ipsum fermentum orci. Morbi sit amet purus fermentum risus viverra accumsan vitae sit amet magna.
      </div>
    </div>

    <div class="review-div mt-30 mb-30 card">
      <div class="user-review ml-50" align="left">
        <img class="user-review-img" src="./assets/dp.jpg" />
        <p class="header-subtitle user-review-name ">NAME 1</p>
      </div>

      <div class="header-content user-review-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in scelerisque tortor. Nunc dictum nulla sit amet cursus molestie. Donec lacinia vehicula nunc eu tincidunt. Pellentesque scelerisque augue nec magna laoreet molestie. Cras eu risus hendrerit, semper eros non, hendrerit magna. Proin consequat, dui quis consectetur sollicitudin, erat sem molestie dolor, posuere aliquet metus ipsum fermentum orci. Morbi sit amet purus fermentum risus viverra accumsan vitae sit amet magna.
      </div>
    </div>

    <div class="review-div mt-30 mb-30 card">
      <div class="user-review ml-50" align="left">
        <img class="user-review-img" src="./assets/dp.jpg" />
        <p class="header-subtitle user-review-name ">NAME 1</p>
      </div>

      <div class="header-content user-review-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in scelerisque tortor. Nunc dictum nulla sit amet cursus molestie. Donec lacinia vehicula nunc eu tincidunt. Pellentesque scelerisque augue nec magna laoreet molestie. Cras eu risus hendrerit, semper eros non, hendrerit magna. Proin consequat, dui quis consectetur sollicitudin, erat sem molestie dolor, posuere aliquet metus ipsum fermentum orci. Morbi sit amet purus fermentum risus viverra accumsan vitae sit amet magna.
      </div>
    </div>

    <div class="review-div mt-30 mb-30 card">
      <div class="user-review ml-50" align="left">
        <img class="user-review-img" src="./assets/dp.jpg" />
        <p class="header-subtitle user-review-name ">NAME 1</p>
      </div>

      <div class="header-content user-review-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in scelerisque tortor. Nunc dictum nulla sit amet cursus molestie. Donec lacinia vehicula nunc eu tincidunt. Pellentesque scelerisque augue nec magna laoreet molestie. Cras eu risus hendrerit, semper eros non, hendrerit magna. Proin consequat, dui quis consectetur sollicitudin, erat sem molestie dolor, posuere aliquet metus ipsum fermentum orci. Morbi sit amet purus fermentum risus viverra accumsan vitae sit amet magna.
      </div>
    </div>
  </div>
</div>


