@import '~@angular/material/theming';

// font awesone
@import '@fortawesome/fontawesome-free/css/all.css';

//Google font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

@include mat-core();
$sharp-primary: mat-palette($mat-indigo);
$sharp-accent: mat-palette($mat-pink, A200, A100, A400);

$sharp-warn: mat-palette($mat-red);

$sharp-theme: mat-light-theme((
  color: (
    primary: $sharp-primary,
    accent: $sharp-accent,
    warn: $sharp-warn,
  )
));

@include angular-material-theme($sharp-theme);

/* You can add global styles to this file, and also import other style files */

@import "./theme/theme.scss";


html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat';
  overflow: hidden;
}

//COLORS
.color-yellow {
  color: #fca311 !important;
} 
.bgcolor-yellow {
  background-color: #fca311 !important;
}

.color-blue {
  color: #0a4191 !important;
}
.bgcolor-blue {
  background-color: #0a4191 !important;
}

.bgcolor-blue-light {
  background-color: #f2f5f7 !important;
}

.bgcolor-yellow-light {
  background-color: #fffaf2 !important;
}


//HEADER
.header-title {
  font-size: 36px;
  font-weight: 200;
  line-height: 64px;
  font-family: 'Montserrat';
  /*font: normal normal 100 42px/64px 'Recursive';*/
}
.header-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  font-family: 'Montserrat';
  /*font: normal normal 100 42px/64px 'Recursive';*/
}
.header-content {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Montserrat';  
  /*font: normal normal 100 42px/64px 'Recursive';*/
}

///SCROLLBAR
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fca311;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0a4191;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0a4191;
}


//MEDIA QUERY
//Header
@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 34px;
    font-weight: 300;
    line-height: 64px;
  }
}


/*CARD NON_MATERIAL*/

.card {
  border-radius: 10px;
  background-color: #d3e4f0;
  box-shadow: 1px 3px 3px #888888;
}

.card:hover {
  transition-duration: 0.25s;
  box-shadow: 1px 5px 5px #888888;
}

