<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div *ngIf="!isLoading">
  <div align="center" class="p-25 landing-div">
    <span class="bg-img-child">
      <!--<img src="./assets/logo.png">-->
      <p class="mat-display-1">
        Commerce & school education means sharp tutorials,<br />
        anything else is a compromise<span class="mat-headline">  -Prof. Sufiyan Kojar</span>
      </p>
      
    </span>
  </div>

  <!--<div class="spacer layer1 overlap"></div>
  <div class="topper-div">
    <p class="exam-name  mat-display-3">
      H.S.C.
    </p>
    <p class="mat-caption ml-52">2021-2022</p>
    <mat-divider></mat-divider>
    <div fxLayout="row warp" class="mt-50">
      <div class="student-1" fxFlex="30" fxFlex.sm="45" fxFlex.xs="100">
        <img class="student-img" src="http://localhost:3000/assets/images/2021-10-19T08-1.jpg" height="240" width="180">
        <img class="student-border" src="assets/1st.png">
        <p class="student-text mat-title">
          Sana Sunasra
          <br> Std X
          <br> 91.6%
        </p>
      </div>
      <div class="student-2" fxFlex="30" fxFlex.sm="45" fxFlex.xs="100">
        <img class="student-img" src="http://localhost:3000/assets/images/2021-10-19T08-1.jpg" height="240" width="180">
        <img class="student-border" src="assets/2nd.png">
        <p class="student-text mat-title">
          Isa Sunasra
          <br> Std X
          <br> 86.2%
        </p>
      </div>
      <div class="student-3" fxFlex="30" fxFlex.sm="45" fxFlex.xs="100">
        <img class="student-img" src="http://localhost:3000/assets/images/2021-10-19T08-1.jpg" height="240" width="180">
        <img class="student-border" src="assets/3rd.png">
        <p class="student-text mat-title">
          Bilal Sunasra
          <br> Std X
          <br> 72.0%
        </p>
      </div>
    </div>
  </div>-->

  <div class="pt-50 mb-50">
    <span class="container">
    <p class="mat-display-1 header-title scd-font container">
      Featured Standards
    </p>
    </span>
      <mat-divider></mat-divider>
    <div class="container">
      <div class="pt-50" fxLayout="row warp" fxLayoutAlign="space-evenly end">
        <div class="standard-div" fxFlex="30" fxFlex.xs="90" fxFlex.sm="40" *ngFor="let s of standards">
          <div class="standard-img-div">
            <img src="{{apiEndpoint + s.image}}" class="standard-img" />
          </div>
          <div class="standard-detail">
            <ul class="mat-subheading-1 mb-8">
              <li>{{s.courseName}}</li>
            </ul>
            <p class="mat-display-1 mb-5 scd-font">{{s.name}}</p>
            <div fxLayout="row warp" fxLayoutAlign="start center">
              <span *ngFor="let sc of subjectCount">
                <p class="mat-body-2 pl-5 m-0" *ngIf="sc.standardId == s.id">
                  <i class="fas fa-file mr-5"></i>
                  {{sc.count}} subjects
                </p>
              </span>
              <p class="mat-body-2 pl-25 m-0">
                <li><i class="fas fa-users mr-5"></i>  {{s.activeStudents}} students </li>
              </p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="button-div">
            <button mat-stroked-button color="primary" routerLink="/course/{{s.courseId}}" [state]="s.courseName">Continue<i class="fas fa-arrow-right ml-5"></i></button>
            <!-- <button class="standard-button" mat-icon-button routerLink="/course/{{s.courseId}}" [state]="s.courseName"> <mat-icon>arrow_forward</mat-icon></button> -->
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>