.landing-div {
  /*background-image: url('../../assets/landing.jpg');*/
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.0)), url('../../assets/landing.jpg');
  /*background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.0)), url('../../assets/svg/Live-Motion-Background.svg');*/
  background-size: cover;
  background-position: center center;
  /*background-repeat: no-repeat;*/

  color: #0a4191;
  /*background-size: 100% auto;*/
  height: 87vh;

  p {
    padding-top: 20vh;
  }
}

.topper-div {
  height: fit-content;
  background-color: #EFEFEF;

  .exam-name {
    height: 56px;
    margin: 0 auto 0px 50px;
  }

  .student-1,
  .student-2,
  .student-3 {
    width: 300px;
    height: 380px;
    margin: 0 auto;
    position: relative;

    .student-text {
      text-align: center;
      margin-top: 30px;
    }
  }

  .student-img {
    aspect-ratio: 4/3;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 4px 4px 50px 50px;
  }

  .student-border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 123px;
    margin: 0 auto;
    width: 200px;
  }
}

//Courses offered START




.standard-div {
  border-radius: 6px;
  margin-bottom: 50px;
  margin-top: 80px;
  transition: all 0.4s ease;
  box-shadow: 0px 3px 8px -11px rgba(0,0,0,0.64);
  -webkit-box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.64);

  .standard-img {
    display: block;
    margin: -92px auto 0 auto;
    border-radius: 6px;
    width: 80%;
  }

  .standard-detail {
    padding: 35px 20px;
    text-align: left;

    ul {
      padding-left: 20px !important;
    }
  }

  .button-div {
    text-align: right;

    button {
      margin: 10px;
    }

    .mat-icon {
      background-color: #e4ebf1;
      border-radius: 50%;
      padding: 7px;
    }
  }
}

.standard-div:hover {
  transition: all 0.4s ease;
  color: #fff;
  background-color: #134693 !important;

  .standard-img {
    box-shadow: 0px 4px 11px -4px rgba(255,255,255,0.26);
    -webkit-box-shadow: 0px 4px 11px -4px rgba(255,255,255,0.26);
    -moz-box-shadow: 0px 4px 11px -4px rgba(255,255,255,0.26);
  }

  .mat-divider {
    border-top-color: rgba(255, 255, 255, 0.6);
  }

  .mat-icon {
    color: black;
    background-color: #f2f5f7 !important;
  }
}
//Courses offered END
