<div align="center" class="m-25">
    <span class="bg-img-child">
      <img src="./assets/logo.png">
      <div class="header-subtitle m-20">PROF. SUFIYAN KOJAR</div>
      <div class="header-subtitle motto-border p-10">
        "COMMERCE & SCHOOL EDUCATION MEANS SHARP TUTORIALS<br />
        ANY THING ELSE IS A COMPROMISE"
      </div>
    </span>
</div>

<div class="spacer layer1"></div>

<div class="topper-div pt-10 spacer topper-background">
    <p class="exam-name mat-display-3">
        H.S.C.
    </p>
    <p class="mat-caption ml-52">2021-2022</p>
    <div class="pb-50" fxLayout="row">
        <!-- // 1st Student -->
        <div fxFlex="50">
            <div class="student-1">
                <img class="student-img" src="http://localhost:3000/images/2021-08-31T11-20.jpg" height="280" width="210">
                <img class="student-1-border" src="assets/1st.png" width="300">
            </div>
        </div>
        <div fxFlex="50">
            <div class="student-1-text mat-headline">
                <span class="mat-display-1">Isa Sunasra</span>
                <br> Std IX
                <br> 90.1%
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="50">
            <div class="student-2">
                <img class="student-img" src="http://localhost:3000/images/2021-08-31T11-20.jpg" height="240" width="180">
                <img class="student-border" src="assets/2nd.png" width="300">
                <!-- 2nd Student -->
                <div class="student-text mat-title">
                    Bilal Sunasra
                    <br> Std X
                    <br> 91.2%
                </div>
            </div>
        </div>
        <div fxFlex="50">
            <div class="student-3">
                <!-- 3nd Student -->
                <img class="student-img" src="http://localhost:3000/images/2021-08-31T11-20.jpg" height="240" width="180">
                <img class="student-border" src="assets/3rd.png" width="300">
                <div class="student-text mat-title">
                    Bilal Sunasra
                    <br> Std X
                    <br> 91.2%
                </div>
            </div>
        </div>
    </div>
</div>