<div class="bg-img" style="background: url('/../../assets/background3.jpg') no-repeat ">


  <div align="center" class="m-25">
    <span class="bg-img-child">
      <img src="./assets/logo.png">
      <div class="header-subtitle m-20">PROF. SUFIYAN KOJAR</div>
      <div class="header-subtitle motto-border p-10">
        "COMMERCE & SCHOOL EDUCATION MEANS SHARP TUTORIALS<br />
        ANY THING ELSE IS A COMPROMISE"
      </div>
    </span>
  </div>


  <!--<div align="center">
  <img   src="./assets/students.png"/>
  </div>-->

  <!--<mat-card class="container m-10  bgcolor-blue-light" align="center">
    <mat-card-header class="card-header m-0">
      <mat-card-title> F.Y.J.C (Commerce)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="m-20">
        REFER YOUR FRIENDS TO SHARP TUTORIALS  & AVAIL DISCOUNT OF ₹ 1,000.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="bgcolor-yellow m-10">Apply Now</button>
    </mat-card-actions>
  </mat-card>-->

</div>


