<form [formGroup]="appForm">
  <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutgap="10px">
    <div class="pl-25 pr-25" fxFlex="25" fxFlex.sm="20" fxFlex.xs="100">
      <mat-form-field appearance="standard" style="width: 100% !important;">
        <mat-label>Standard</mat-label>
        <mat-select formControlName="standard">
          <mat-option *ngFor="let s of this.standard" value="{{s.id}}" [innerHtml]="s.name"></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="pl-25 pr-25" fxFlex="51" fxFlex.sm="80" fxFlex.xs="100">
      <mat-form-field appearance="standard" style="width: 100% !important;">
        <mat-label>School / College</mat-label>
        <input matInput formControlName="school">
      </mat-form-field>
    </div>
  </div>
  
  <div class="subject-list" *ngIf="subject">
    <span *ngIf="subject.allowSubjectSelection">
      <p class="title">Select your subjects</p>
      <span *ngFor="let s of subject.data">
        <p>
          <mat-checkbox>{{s.name}}</mat-checkbox>
        </p>
      </span>
    </span>
    <span *ngIf="!subject.allowSubjectSelection">
      <p class="title">Subject for your standard</p>
      <span *ngFor="let s of subject.data">
        <p>
          <mat-checkbox checked="true" disabled>{{s.name}}</mat-checkbox>
        </p>
      </span>
    </span>
  </div>

  <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayourGap="10px" class="p-25">
    <div fxFlex="20" fxFlex.sm="30" fxFlex.xs="50">
      <mat-label>Upload your Image</mat-label><br />
      <input hidden type="file" (change)="showPreview($event)" accept="image/*" #fileInput />
      <button type="button" mat-raised-button color="accent" (click)="fileInput.click()">Choose File</button>
    </div>

    <div fxFlex="20" fxFlex.sm="20" fxFlex.xs="50 ">
      <div *ngIf="imageURL">
        <img [src]="imageURL" [alt]="appForm.value.name" height="120" width="90">
      </div>
    </div>
  </div>

  
</form>