<form [formGroup]="appForm">
  <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutgap="10px">
    <div class="pl-25 pr-25" fxFlex="25" fxFlex.sm="35" fxFlex.xs="100">
      <mat-form-field appearance="standard" style="width: 100% !important;">
        <mat-label>Standard</mat-label>
        <mat-select formControlName="standard" (selectionChange)="getStandard($event)">
          <mat-option *ngFor="let standard of this.standard" value="{{standard.id}}" [innerHtml]="standard.name">
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="pl-25 pr-25" fxFlex="51" fxFlex.sm="65" fxFlex.xs="100">
      <mat-form-field appearance="standard" style="width: 100% !important;">
        <mat-label>School / College</mat-label>
        <input matInput formControlName="school">
      </mat-form-field>
    </div>
  </div>
  
  <div class="subject-list" *ngIf="allSubject">
      <span *ngIf="allSubject.allowSubjectSelection"> 
          <p *ngFor="let subject of allSubject.data">
            <mat-slide-toggle
            color="primary"
            (change)="checkSubject($event, subject)"
            [formGroupName]="'subjects'">
              {{subject.name}} <span class="mat-hint">  ₹{{subject.rate}}</span>
            </mat-slide-toggle>        
          </p>
      </span>
      <span *ngIf="!allSubject.allowSubjectSelection">
        <p *ngFor="let subject of allSubject.data">
          <mat-slide-toggle
          color="primary"
          onload="printvalue()"
          [formGroupName]="'subjects'"
          [checked]="true"
          [disabled]="true">
            {{subject.name}}  <span class="mat-hint">  ₹{{subject.rate}}</span>
          </mat-slide-toggle>        
        </p>
      </span>
  </div>
  <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayourGap="10px" class="p-25">
    <div fxFlex="20" fxFlex.sm="30" fxFlex.xs="50">
      <mat-label>Upload your Image</mat-label><br />
      <input hidden type="file" (change)="showPreview($event)" accept="image/*" #fileInput />
      <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
    </div>
    
    <div fxFlex="20" fxFlex.sm="20" fxFlex.xs="50 ">
      <div *ngIf="imageURL">
        <img [src]="imageURL" [alt]="appForm.value.name" height="120" width="90">
      </div>
    </div>
  </div>
  <p class="mat-hint mt-20 pl-25">Recommended image aspect ratio 4/3</p>
  <button mat-button matStepperNext (click)="printValue()">Next</button>
</form>
