.footer {
  position: fixed;
  bottom: 0px;
  height: 16px;
  width: 100%;
  z-index: 11;
  background-color: #fcddaa;
  p{
    font-size: 12px;
    line-height: 16px;
    color: black;
    text-align: center;
  }
}